In [2]:
!pip install -q keras
!pip install -q tensorflow

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [15]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [16]:
gender = pd.get_dummies(df['Gender'], drop_first=True)
geography = pd.get_dummies(df['Geography'], drop_first=True)
df = pd.concat([df, gender, geography], axis=1)
df = df.drop(['Geography', 'Gender'], axis=1)
df = df.dropna()
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,True,False,False
9996,516,35,10,57369.61,1,1,1,101699.77,0,True,False,False
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,True,False
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [17]:
X = df.drop(['Exited'], axis=1)
Y = df['Exited']

In [18]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)
X

array([[-0.32622142,  0.29351742, -1.04175968, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [-0.44003595,  0.19816383, -1.38753759, ..., -1.09598752,
        -0.57873591,  1.74273971],
       [-1.53679418,  0.29351742,  1.03290776, ..., -1.09598752,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  0.91241915,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -1.09598752,
        -0.57873591, -0.57380915]])

In [19]:
from sklearn.model_selection import train_test_split

X_train, x_test, y_train, y_test = train_test_split(X, Y)

In [20]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='sigmoid', units=1))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=10, epochs=50)

Epoch 1/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 1s 504us/step - accuracy: 0.7613 - loss: 0.5416
Epoch 2/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.7965 - loss: 0.4474
Epoch 3/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - accuracy: 0.8053 - loss: 0.4269
Epoch 4/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.8131 - loss: 0.4265
Epoch 5/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.8119 - loss: 0.4321
Epoch 6/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.8292 - loss: 0.4122
Epoch 7/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - accuracy: 0.8245 - loss: 0.4224
Epoch 8/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - accuracy: 0.8283 - loss: 0.4086
Epoch 9/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.8313 - loss: 0.4059
Epoch 10/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.8327 - loss: 0.4051
Epoch 11/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.8303 - loss: 0.4080
Epoch 12/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.8301 - loss: 0.4107
Epoch 13/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.8320 - loss: 0.4052
Epoch 14/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.8403 - loss: 0.3915
Epoch 15/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.8372 - loss: 0.3928
Epoch 16/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.8318 - loss: 0.4044
Epoch 17/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.8313 - loss: 0.4074
Epoch 18/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - accuracy: 0.8272 - loss: 0.4068
Epoch 19/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.8345 - loss: 0.3956
Epoch 20/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.8426 - loss: 0.3918
Epoch 21/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.8290 - loss: 0.4133
Epoch 22/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.8392 - loss: 0.3998
Epoch 23/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - accuracy: 0.8386 - loss: 0.3871
Epoch 24/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.8369 - loss: 0.3912
Epoch 25/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.8392 - loss: 0.3922
Epoch 26/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.8423 - loss: 0.3890
Epoch 27/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.8513 - loss: 0.3726
Epoch 28/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.8425 - loss: 0.3802
Epoch 29/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.8525 - loss: 0.3614
Epoch 30/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.8504 - loss: 0.3600
Epoch 31/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.8526 - loss: 0.3464
Epoch 32/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.8472 - loss: 0.3569
Epoch 33/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - accuracy: 0.8570 - loss: 0.3455
Epoch 34/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - accuracy: 0.8597 - loss: 0.3295
Epoch 35/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.8591 - loss: 0.3396
Epoch 36/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - accuracy: 0.8571 - loss: 0.3471
Epoch 37/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.8578 - loss: 0.3356
Epoch 38/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.8516 - loss: 0.3531
Epoch 39/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8553 - loss: 0.3453
Epoch 40/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.8580 - loss: 0.3408
Epoch 41/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8609 - loss: 0.3409
Epoch 42/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.8554 - loss: 0.3467
Epoch 43/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.8543 - loss: 0.3485
Epoch 44/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.8561 - loss: 0.3384
Epoch 45/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.8568 - loss: 0.3412
Epoch 46/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8573 - loss: 0.3369
Epoch 47/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.8569 - loss: 0.3425
Epoch 48/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.8647 - loss: 0.3337
Epoch 49/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.8555 - loss: 0.3461
Epoch 50/50
750/750 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.8616 - loss: 0.3384

In [23]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)
y_pred

79/79 ━━━━━━━━━━━━━━━━━━━━ 0s 388us/step

array([[ True],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [24]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

0.8572